<div class="clearfix">
  <%= link_to t("restaurant.view.change_locale.vietnamese"), change_locale(:vi),
    class: "btn btn-danger pull-right language-change" %>
  <%= link_to t("restaurant.view.change_locale.english"), change_locale(:en),
    class: "btn btn-success pull-right language-change" %>
</div>
